.iconStyle {
  border: none;
  font-size: 2vw;
  height: fit-content;
  outline: none;
  width: fit-content;
  z-index: 1000;
  background: none;
  float: right;
  margin-top: -1rem;
  position: relative;
  color: rgb(150, 150, 150);

  &:hover {
    color: lime;
    transition: color 0.5s;
  }

  &:before { // Accesses the font-awesome pseudo-selector
    cursor: pointer;
  }
}
