.containerRow {
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
}

.caretStyle {
    position: absolute;
    display: block;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 0 2vw 2vw 2vw;
    border-color: transparent transparent #ffffff transparent;

    z-index: -1;

    @media (min-width: 576px) {
        top: 17.5vh;
    }

    @media (min-width: 768px) {
        top: 13.8vh;
    }

    @media (min-width: 1200px) {
        top: 20vh;
    }

    @media (min-width: 2000px) {
        top: 20vh;
    }

}

.caretStylePortfolio {
    margin-left: -2.1vw;
    transition: height 0.5s;
}

.caretStyleBlog {
    margin-left: 5.55vw;
    transition: height 0.5s;
}

.caretStyleCode {
    margin-left: 13.9vw;
    transition: height 0.5s;
}

.caretStyleAt {
    margin-left: 21.7vw;
    transition: height 0.5s;
}