.container {
  overflow: hidden;
}

.flexContainer {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.monthDay {
  color: gray;
  font-size: 0.75rem;
  margin-right: 2rem;
  white-space: nowrap;
}

.title {
  max-width: 70%;
}

.chevron {
  font-size: 1.5rem;
  justify-self: end;
  margin-left: auto;
  transition: transform 0.3s;
  user-select: none;
}

.rotated {
  transform: rotate(90deg);
}

.markdown {
  background-color: rgb(30, 30, 30);
  line-height: 1.75rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  font-family: Verdana;
  font-size: 1.2rem;
  color: lime;

  h1 {
    font-family: "Press Start 2P", cursive;
    line-height: 4rem;
    font-size: 1rem;
  }
}
