.cardStyle {
    display: flex;
    flex-wrap: wrap;

    width: 50vw;
    background-color: white;
    top: 10vh;
    bottom: 10vh;

    min-height: 30vh;

    padding: 3vh 1vw 2vh 1.2vw;

    flex-basis: fit-content;

    transition: width 0.3s ease-out; // note that we're transitioning transform, not height!
}

.masterDiv {
    flex-basis: 100%;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    margin-bottom: -2vh;
}

.masterDivVisible {
    transition: 1s;
    opacity: 1;
    position: relative;
    pointer-events: auto;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.gridImage {
    display: flex;
  
    height: 45vh;
    width: 52.2vw;

    margin-left: -1.2vw;

    cursor: pointer;

    transition: 1s;
}

.gridImageInactive {
    filter: grayscale(50);
    transition: 1s;
}

.title {
    text-align: center;
    font-size: 3vw;
    padding-bottom: 2vh;
    padding-top: 0.4vh;
}

.projectDetailsBox {
    background-color: rgb(21,21,21);
    color: lime;
    height: 31vh;
    width: 52.2vw;
    line-height: 2vh;
    
    overflow: hidden;

    margin-left: -1.2vw;

    margin-top: -.01vh; // Fixes flickering issue in Chrome

    transition: 1s;
}

.projectDetailsBoxInactive {
    height: 0;
    transition: 1s;
}

.projectDetailsText {
    font-size: .7vw;
    padding: 1vh 1vw 1vh 1vw;
}

.linkGithub {
    color: rgb(60, 170, 255);
}