.cardStyle {
  width: 100vw;
}

.codeStyle {

}

.container {
  flex-basis: 100%;
  margin-right: -10vw;
  padding-right: 10vw;
  position: relative;
  transition: 1s;
}

.title {
  font-size: 2.5vw;
  margin-bottom: 0;
}

.subtitle {
  color: rgb(98, 98, 98);
  font-size: 1.1vw;
  font-weight: 300;
  margin-bottom: 0;
}

.input {
  &:focus::placeholder {
    color: transparent;
  }
}

.inputBox {
  background: rgba(240, 240, 240, 1);
  border: none;
  display: inline-flex;
  height: 4vh;
  margin-top: 3vh;
  padding-left: .7vw;
  width: 23.8vw;
}

.inputBoxName {
  margin-right: 1vw;
}

.inputBoxEmail {
  margin: 0;
  width: 47.3%;
}

.inputBoxSubject {
  width: (48.3 + 1vw); // Double width + margin-right
}

.inputBoxVerify {
  margin-bottom: 1.5em;
  margin-top: -1.5em;
  width: 10em;
}

.textarea {
  background: rgba(240, 240, 240, 1);
  border: none;
  display: inline-flex;
  height: 20vh;
  margin-bottom: 3vh;
  margin-top: 3vh;
  padding-left: .7vw;
  padding-top: 1.5vh;
  resize: none;
  width: (48.3 + 1vw); // Double width + margin-right
}

.mrRoboto {
  font-size: 1.3em;
}

.submit {
  background-color: rgb(21, 21, 21);
  border: none;
  color: white;
  font-size: 2vh;
  height: auto;
  padding: 0.7vh 0.3vw 0.7vh 0.5vw;
  width: fit-content;

  &:active {
    background: rgba(50, 50, 50, 1);
  }

  &:focus {
    outline: 0
  }

  &:hover {
    background: rgba(0, 0, 0, .8);
    cursor: pointer;
  }
}

.linkGithub {
  color: rgb(60, 170, 255);
}