.cardStyle {
    display: flex;
    flex-wrap: wrap;

    width: 50vw;
    background-color: white;
    top: 10vh;
    bottom: 10vh;

    min-height: 30vh;

    padding: 3vh 1vw 2vh 1.2vw;

    flex-basis: fit-content;

    transition: width 0.3s ease-out; // note that we're transitioning transform, not height!
}

.codeStyle {

}

.container {
    flex-basis: 100%;
    padding-right: 10vw;
    margin-right: -10vw;

    transition: 1s;
    position: relative;
}
