@import '../../../../../SCSS//animations';

.container {
    flex-basis: 100%;
    padding-right: 10vw;
    margin-right: -10vw;

    transition: 1s;
    position: relative;
}

.codeStyle {
    width: 50vw;
    background-color: rgb(47, 47, 47);
}

.cardStyle {
    display: flex;
    flex-wrap: wrap;

    width: 30vw;
    background-color: white;
    top: 10vh;
    bottom: 10vh;

    min-height: 30vh;

    padding: 3vh 1vw 2vh 1.2vw;

    flex-basis: fit-content;

    transition: width 1s;
    animation: test 1s;
    
    overflow-y: hidden;
    overflow-x: hidden;

    @keyframes test {
        0% {
            min-height: 10vh;
            max-height: 0 !important;
        }

        100% {
            min-height: 30vh;
            max-height: 100vh;
        }
    }
}

.meContainer {
    position: absolute;
    margin-top: 12vh;

    font-size: .8vw;

}

.meNameStyle {
    font-weight: 600;
}

.meNameCaret {
    position: absolute;
    display: inline-flex;
    margin-left: 0.4vw;
    margin-top: -0.2vh;
    height: 4vh;
    width: 0.3vw;

    animation: blink 1.3s linear infinite;

    @keyframes blink {
        from, to {
            background-color: transparent;
          }
          50% {
            background-color: lime;
          }
        }
}

.meTitleStyle {
    margin-top: -3vh;
    color: lime;
    font-weight: 300;

    font-size: 1vw;

    padding-top: 2vh;
}
