.iconStyle {
  position: relative;
  display: flex;
  margin-right: 3vw;
  margin-top: 2vh;
  font-size: 3vw;
  height: 7vh;
  width: 5vw;
  border: none;
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, .4);
  outline: none;

  z-index: 1;

  &:hover {
    color: lime;
    transition: color 0.5s;
  }

  &:before { // Accesses the font-awesome pseudo-selector
    cursor: pointer;
  }
}